</div> <footer>
        <div class="social-links">
            <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/NicolasV99" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
        <p>&copy; 2026 Nicolas Portfolio. All Rights Reserved.</p>
    </footer>
</body>
</html>